<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
 
   <typeAliases>
      <package name="com.ssafy.cooking.dto"/>
   </typeAliases>
   
   <mappers>
	  <mapper resource="mapper/user.xml"/>
	  <mapper resource="mapper/info.xml"/>
	  <mapper resource="mapper/recipe.xml"/>
   </mappers>
</configuration>
